<div class="box mt-50">
    <div class="container">
        <div class="box-content">
            <div class="page-title toggled">
                <h3>{{ heading_title }}</h3>
            </div>
            <div class="block_box">
                {% set productForSlider = 1 %}
                {% set productCount = products|length %}
                <div id="latest-carousel" class="box-product {% if axis == 'horizontal' %} row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-{% endif %} {% if productCount > productForSlider %} product-carousel{% else %} row {% endif %}" data-items="4">
                    {% for product in products %}
                    {% if productCount > productForSlider %}
                        {% set class = 'col-12' %}
                    {% else %}
                        {% set class = 'col-xl-3 col-sm-4' %}
                    {% endif %}
                        <div class="col {{class}}"><div class="product-layout">{{ product }}</div></div>
                    {% endfor %}   
                </div>
            </div>
        </div>
    </div>
</div>
